# results of experiments (the runtime results are then composed into .mat file which is not ignored)
*_J_*
*_times_*
estimates_backup.mat
outputs/C/

**/packages

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.obj
*.exe
*.obj
.vs
AutodiffTools.VC.VC.opendb

# Build results
**/Debug/
**/Release/
**/bin
**/obj

# Python
__pycache__
*.db
*.opendb
coconut/FSharp.Core.dll
