<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argu" version="3.7.0" targetFramework="net452" />
  <package id="DiffSharp" version="0.7.7" targetFramework="net452" />
  <package id="FsAlg" version="0.5.13" targetFramework="net452" />
  <package id="FSharp.Core" version="4.1.2" targetFramework="net452" />
  <package id="FSharp.Quotations.Evaluator" version="1.0.7" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.17.0" targetFramework="net452" />
  <package id="MathNet.Numerics.FSharp" version="3.17.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
</packages>